<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Gifts app {% endblock title %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    </head>
    <body>

      <style>
        body,
		    html {
			    margin: 0;
			    padding: 0;
			    height: 100%;
			    background: #7abecc !important;
		      }
        .card {background-color:#ADD8E6}
        #hello-msg{
          font-size: 16px;
          margin-right: 10px;
          
        }
      </style>

        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
              <a class="py-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
              </a>
              <a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Homepage</a>
              <a class="py-2 d-none d-md-inline-block" href="{% url 'products-list' %}">Products</a>
              <a class="py-2 d-none d-md-inline-block" href="{% url 'favourite-list' %}">Favourites</a>
              <a class="py-2 d-none d-md-inline-block" href="{% url 'questionnaire' %}">Questionnaire</a>
              <a class="py-2 d-none d-md-inline-block" href="{% url 'questionnaire_res' user.id %}">Questionnaire results</a>
              <a class="py-2 d-none d-md-inline-block" href="{% url 'add-friend' %}">Add new friends</a>
              <a class="py-2 d-none d-md-inline-block" href="{% url 'friends-page' %}">Friends list</a>

              <li class="nav-item float-right">
                {% if request.user.is_authenticated %}
                <span id="hello-msg">
                  You are logged in as {{ request.user.username|capfirst }} &nbsp;&nbsp; &nbsp;&nbsp; 
                </span>
                  <a class="py-2 d-none d-md-inline-block" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="py-2 d-none d-md-inline-block" href="{% url 'login' %}">Login</a>
                {% endif %}
              </li>
            </div>
          </nav>
        <div class="container">
        <h1>Gifts app</h1>
        {% block body %}
        {% endblock body %}
        </div>
        <hr class="featurette-divider">

        <footer class="container" style="bottom:0; position:fixed; text-align:left;">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; 2024 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>