{% extends "base.html" %}
{% block title %}
Products list - {{ block.super }}
{% endblock title %}
{% block body %}    

<style>
    .card-body {
        text-align: center;
    }
    .album {
        background-color: #7abecc !important;
    }
  </style>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                        <h5 class="card-title">
                            <img style="width:100%; height:200px; display:block" alt='Thumbnail [100%x200]' src="{% if product.image %}{{ product.image.url }}{% endif %}" class="card-img-top">
                        </h5>
                        <div class="card-body">
                        <p class="card-text">
                            <a href="{% url 'product-page' product.id %}" target="_blank">{{ product.title }}</a><br>
                            {{ product.price }} EUROS <br> {{ product.description }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="btn-group"
                                    <div id="favourite-section">
                                        <form action="{% url 'toggle-favourite' product.id %}" method="post">
                                            {% csrf_token %}
                                            {% if request.user in product.favourite.all %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                                    <i class="bi bi-heart-fill"></i> Remove from favourites
                                                </button>
                                            {% else %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">
                                                    <i class="bi bi-heart"></i> Add to favourites
                                                </button>
                                            {% endif %}
                                        </form>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}
