{% extends "base.html" %}
{% block title %}
Products list - {{ block.super }}
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <img style="width:200px; height:auto;" src="{% if product.image %}{{ product.image.url }}{% endif %}" class="card-img-top"></br>
                            <a href="{% url 'product-page' product.id %}" target="_blank">{{ product }}</a>
                        </h5>
                        <p class="card-text">{{ product.price }} EUROS </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}